.lw { font-size: 35px;}
.lw {font-family: 'Arial'}
.lw {font-weight: bold;}
.lw {text-align: center;}
.lw {color: rgb(239, 191, 0);}
body {background-color: rgb(38, 36, 36);}

p { 
    color: rgb(255, 255, 255);
    font-family:  Arial;}
